@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>sports wear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <form id="form1" runat="server">
        <div class="jumbotron text-center">
            <h3>sports wear </h3>
            <p>online shopping store</p>
        </div>


        

                </div>
                    <img src="~/css/image/DP.PNG" height="500px" width="100%">
                    <div id="HOME">
                    <h1 style="color:white">HOME</h1>
                </div>

                <div id="latestproducts">
                    <h2 style="color:black  ">latest products</h2>
                    <div class="pic1">
                        <img src="~/css/image/lp1.png" alt="pic">
                    </div>

                    <div class="pic2">
                        <img src="~/css/image/lp2.PNG" alt="pic">
                    </div>

                    <div class="pic3">
                        <img src="~/css/image/lp4.PNG" alt="pic">
                    </div>

                    



                </div><hr>
                <table class=" table" border="1" style="background-color:white ; width=" 50%"" background-color="white" text-color="white">

                    <tr>
                        <td>Small</td>
                        <td>14-18 yr</td>

                    </tr>
                    <tr>
                        <td>Medium</td>
                        <td>19-21 yr</td>

                    </tr>
                    <tr>
                        <td>large</td>
                        <td>22+yr</td>

                    </tr>

                </table>

            </nav>
    </form>
    <div class="footer">
        <div class="contact">

            <div id="contactus">
                <h2>contact us</h2>
                <DIV>
                    <H5>ADDRESS:</H5>
                    <p>BERI WALA CHOWK RAJA BAZAR SIALKOT,PAKISTAN</p>
                </DIV>

                <DIV>
                    <H5>E-MAIL:</H5>
                    <li><a href="mailto:INFO@STELLATESURGICAL.COM">INFO@STELLATESURGICAL.COM.</a></li>
                    <li><a href="mailto:INFO@STELLATESURGICAL.COM">Sales@STELLATESURGICAL.COM.</a></li>
                </DIV>

                <DIV>
                    <H5>CONTACT NO:</H5>
                    <li>+92318 7161358</li>
                    <li>+92315 7568854</li>
                </DIV>
            </div>
        </div>

    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.200012508209!2d74.54235131351894!3d32.494082905668314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391eea61b6b94611%3A0xdfe7ac2556d2713f!2sRaja%20Bazar%2C%20Ada%20Shahbaz%20Khan%2C%20Sialkot%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1665787556797!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="sm">

        <div class="fb">
            <a href="https://www.facebook.com/StellateSurgical/"><img src="~/css/image/fb.png"></a>
        </div>

        <div class="insta">
            <a href="https://www.instagram.com/stellatesurgical/"><img src="~/css/image/insta.PNG"></a>
        </div>

        <div class="tw">
            <a href="https://www.instagram.com/stellatesurgical/"><img src="~/css/image/tw.PNG"></a>
        </div>
    </div>
    </div>
    </div>
    <br>
    <div>
        
    </div>
    </div>
</body>
</html>